h2
	line-height: 1em
	margin-top: 0
	&.title
		font-family: $title-font
		font-weight: 700
		font-size: 30px
		color: $shark
		text-transform: uppercase
		text-align: center
		margin-bottom: 50px
		+r(767)
			margin-bottom: 30px
			font-size: 24px
		+r(575)
			margin-bottom: 25px
			font-size: 22px
		&-big
			font-size: 50px
			+r(991)
				font-size: 36px
			+r(767)
				font-size: 24px
			+r(575)
				font-size: 22px
		&-left
			text-align: left
			+r(991)
				text-align: center
		&-white
			color: $white

	+r(1199)
		br
			display: none

.button
	display: block
	padding: 16px
	text-transform: uppercase
	font-weight: 600
	color: $vermilion
	position: relative
	transition: all .6s ease
	line-height: 1em
	z-index: 2
	border: none
	background: transparent
	cursor: pointer
	&::before
		content: ''
		width: 100%
		height: 0
		background-image: linear-gradient( 90deg, rgb(255,56,0) 0%, rgb(255,85,0) 100%)
		position: absolute
		left: 0
		bottom: 0
		z-index: -1
		transition: all .4s ease
	&:after
		content: ''
		width: 100%
		height: 100%
		position: absolute
		left: 0
		bottom: 0
		z-index: -1
		border: 1px solid $alto
		transition: all .4s ease
	&:hover
		color: $white
		box-shadow: 0 5px 15px 0 rgba(255, 56, 0, 0.4)
		&::before
			height: 100%
		&::after
			border: none
	&:active, &:focus
		color: $white
		&::after
			background: $shark
	&:active, &:focus
		box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1)
	&-form
		background-image: linear-gradient( 90deg, rgb(255,56,0) 0%, rgb(255,85,0) 100%)
		box-shadow: 0 5px 15px 0 rgba(255, 56, 0, 0.4)
		color: $white
		padding: 23px 88px
		outline: none
		-webkit-appearance: none
		-moz-appearance: none
		&::after
			border: 0
		&::before
			background: $shark
		&:hover
			box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1)
			&::before
				height: 95%
	&-inline
		display: inline-block
		padding:  14px 55px
