<section class="first-screen first-screen-template" style="background-image: url('img/everyday-bg.jpg')">
  <div class="container first-screen__container">
    <div class="first-screen__content">
      <h1>
        BootFitter
      </h1>
      <h2>
        По статистике, примерно у 60% населения России
        наблюдается плоскостопие, поэтому <br>
        идеальное попадание «в свою пару» бывает редко
      </h2>
      <ul>
        <li>
          <strong>Компактный,</strong> можно
          брать с собой на шопинг
          за границу и на следующий
          день носить обувь новую
        </li>
        <li>
          <strong>Дешевле и удобнее</strong>,
          чем каждый раз
          растягивать обувь
          в мастерской
        </li>
        <li>
          <strong>Намного выгоднее,</strong>
          чем шить обувь
          на заказ
        </li>
      </ul>
    </div>
  </div>
</section>
