<section class="gallery">
  <h2 class="title title-big">Забудь про...</h2>
  <div class="container">
    <div class="gallery__wrapper">
      <div class="gallery__img gallery__img_small">
        <div class="gallery__img_block">
          <a data-fancybox="gallery-everyday" href="img/ev-gallery-1.jpg">
            <img src="img/ev-gallery-1.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="gallery__img gallery__img_big">
        <div class="gallery__img_block">
          <a data-fancybox="gallery-everyday" href="img/ev-gallery-3.jpg">
            <img src="img/ev-gallery-3.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="gallery__img gallery__img_small">
        <div class="gallery__img_block">
          <a data-fancybox="gallery-everyday" href="img/ev-gallery-2.jpg">
            <img src="img/ev-gallery-2.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="gallery__img gallery__img_big">
        <div class="gallery__img_block">
          <a data-fancybox="gallery-everyday" href="img/ev-gallery-6.jpg">
            <img src="img/ev-gallery-6.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="gallery__img gallery__img_small">
        <div class="gallery__img_block">
          <a data-fancybox="gallery-everyday" href="img/ev-gallery-5.jpg">
            <img src="img/ev-gallery-5.jpg" alt="">
          </a>
        </div>
      </div>

      <div class="gallery__img gallery__img_small">
        <div class="gallery__img_block">
          <a data-fancybox="gallery-everyday" href="img/ev-gallery-4.jpg">
            <img src="img/ev-gallery-4.jpg" alt="">
          </a>
        </div>
      </div>

      <div class="gallery__img gallery__img_small">
        <div class="gallery__img_block">
          <a data-fancybox="gallery-everyday" href="img/ev-gallery-7.jpg">
            <img src="img/ev-gallery-7.jpg" alt="">
          </a>
        </div>
      </div>
      <div class="gallery__img gallery__img_small">
        <div class="gallery__img_block">
          <a data-fancybox="gallery-everyday" href="img/ev-gallery-8.jpg">
            <img src="img/ev-gallery-8.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
