<section class="problem-slider">
  <div class="container">
    <h2 class="title">
      Проблемы с которыми сталкивается каждый 5 человек при носке обуви
    </h2>
    <div class="problem-slider-container swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-9.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Дискомфорт при длительной носке обуви. Индивидуальный пошив у портного - дорого

            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-10.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Все время хочется снять обувь или сменить ее на тапочки, что негативно сказывается
              на имидже
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-7.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Не могут позволить купить себе обувь в интернете с минимальной примеркой
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-9.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Дискомфорт при длительной носке обуви. Индивидуальный пошив у портного - дорого

            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-10.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Все время хочется снять обувь или сменить ее на тапочки, что негативно сказывается
              на имидже
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-7.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Не могут позволить купить себе обувь в интернете с минимальной примеркой
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-9.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Дискомфорт при длительной носке обуви. Индивидуальный пошив у портного - дорого

            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-10.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Все время хочется снять обувь или сменить ее на тапочки, что негативно сказывается
              на имидже
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-7.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Не могут позволить купить себе обувь в интернете с минимальной примеркой
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next">вперед</div>
      <div class="swiper-button-prev">назад</div>
    </div>
  </div>
</section>
