<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="about__content">
          <h2 class="title title-left title-big">
            О компании
          </h2>
          <div class="about__text">
            <p>
              В 2017 году нам впервые пришла идея о персональном анатомическом устройстве, которое решило бы проблему тесной обуви, не выходя из дома.
              Бесхитростная, на первый взгляд, задача потребовала участия профессиональных конструкторов, инженеров, промышленных дизайнеров, IT-специалистов и медиков. Для того, чтобы пластиковая стопа в точности имитировала натуральную, мы учли сотни нюансов и сделали сложнейшие расчеты. Все это нужно было совместить с заботой о самих ботинках, чтобы не повредить их в процессе растяжки обуви.
              2 года мы разрабатывали и испытывали Bootfitter. И теперь мы с радостью готовы поделиться полученными результатами.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about__gallery__wrapper">
          <div class="about__gallery">
            <div class="about-swiper-container swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a data-fancybox="gallery" href="img/g1.jpg">
                    <img src="img/g1.jpg" alt="">
                  </a>
                </div>
                <div class="swiper-slide">
                  <a data-fancybox="gallery" href="img/g3.jpg">
                    <img src="img/g3.jpg" alt="">
                  </a>
                </div>
                <div class="swiper-slide">
                  <a data-fancybox="gallery" href="img/g4.jpg">
                    <img src="img/g4.jpg" alt="">
                  </a>
                </div>
                <div class="swiper-slide">
                  <a data-fancybox="gallery" href="img/g5.jpg">
                    <img src="img/g5.jpg" alt="">
                  </a>
                </div>
                <div class="swiper-slide">
                  <a data-fancybox="gallery" href="img/banner-scaner.png">
                    <img src="img/banner-scaner.png" alt="">
                  </a>
                </div>

              </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
