<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="title">
      Теперь обувь учитывает ваши особенности
    </h2>
    <div class="advantages__card_wrapper">
      <div class="advantages__card">
        <div class="advantages__card_img">
          <img src="img/adv-comfort-1.png" alt="">
        </div>
        <h3>
          Достигай
        </h3>
        <ul>
          <li>
            Для профессионалов и любителей спорта
          </li>
          <li>
            Кастомизированая посадка ботинка
          </li>
          <li>
            Оптимальная фиксация голеностопа и исключительный комфорт
          </li>
          <li>
            Учитывает малейшие особенности стопы
          </li>
          <li>
            Максимальная концентрация на технике и при длительных тренировках
          </li>
        </ul>
        <a href="sport.html" class="button">
          подробнее
        </a>
      </div>

      <div class="advantages__card">
        <div class="advantages__card_img">
          <img src="img/adv-comfort-2.png" alt="">
        </div>
        <h3>
          Живи комфортно
        </h3>
        <ul>
          <li>
            Подгоняет обувь по стопе с учетом физиологических особенностей
          </li>
          <li>
            Предотвращает тяжесть и усталость ног при ношении обуви
          </li>
          <li>
            Дарит дополнительный комфорт тем, кому показана ортопедическая обувь или специальные стельки
          </li>
          <li>
            Дает возможность не ограничиваться ортопедической обувью или обувью пошитой на заказ
          </li>

        </ul>
        <a href="ortopedia.html" class="button">
          подробнее
        </a>
      </div>

      <div class="advantages__card">
        <div class="advantages__card_img">
          <img src="img/adv-comfort-3.png" alt="">
        </div>
        <h3>
          Не ограничивай себя
        </h3>
        <ul>
          <li>
            Бесконечно расширяет выбор обуви и меняет стереотипы шопинга
          </li>
          <li>
            Дарит легкость и исключительный комфорт в ногах в любой паре обуви
          </li>
          <li>
            Исключает необходимость разнашивания обуви – предотвращает мозоли и натоптыши
          </li>
          <li>
            Обувь теперь не жмет, какой бы неудобной она не казалась при первой примерке
          </li>
          <li>
            Дополнительная экономия времени и средств
          </li>
        </ul>
        <a href="everyday.html" class="button">
          подробнее
        </a>
      </div>


    </div>
  </div>
</section>
