<section class="articles">
  <div class="container">
    <h2 class="title title-big">
      Наши статьи
    </h2>
    <div class="articles__card_wrapper">
      <div class="articles__card">
        <div class="articles__card_img">
          <img src="img/articles-img-1.jpg" alt="">
        </div>
        <div class="articles__card_text">
          <h3>
            Life:
          </h3>
          <time datetime="2018-11-01">
            01.11.2018
          </time>
          <h4>
            Топ-5 правил покупки
            обуви on-line
          </h4>
        </div>
      </div>
      <div class="articles__card">
        <div class="articles__card_img">
          <img src="img/articles-img-2.jpg" alt="">
        </div>
        <div class="articles__card_text">
          <h3>
            Life:
          </h3>
          <time datetime="2018-11-01">
            01.11.2018
          </time>
          <h4>
            Лыжные ботинки: на что обратить внимание при выборе?
          </h4>
        </div>
      </div>
      <div class="articles__card">
        <div class="articles__card_img">
          <img src="img/articles-img-3.jpg" alt="">
        </div>
        <div class="articles__card_text">
          <h3>
            Care:
          </h3>
          <time datetime="2018-11-01">
            01.11.2018
          </time>
          <h4>
            Вальгусная деформация: причины, особенности, последствия
          </h4>
        </div>
      </div>
    </div>
    <a href="#" class="button button-inline">
      Показать еще
    </a>
  </div>
</section>
