<section class="contacts" id="contacts">
  <div id="map">
  </div>
  <div class="container">
    <div class="contacts__card">
      <h2 class="title title-big title-left">
        Контакты
      </h2>
      <h3>
        Адрес:
      </h3>
      <p>
        Москва, <br>
        ул. Юбилейная, 95 к3, оф. 2
      </p>
      <h3>
        телефон:
      </h3>
      <p>
        <a href="tel:+74993227559">
          7 499 322 75 59
        </a>
      </p>
      <h3>
        e-mail:
      </h3>
      <p>
        <a href="mailto:info@bootfitter.ru">
          info@bootfitter.ru
        </a>
      </p>
    </div>
  </div>
</section>
