<section class="faq" id="faq">
  <div class="container">
    <h2 class="title title-big">
      Вопросы и ответы
    </h2>
    <div class="faq__accordion">
      <div class="faq__wrapper">
        <div class="faq__head">
          1. Какой результат дает Bootfitter?
        </div>
        <div class="faq__toggle">
          <p>
            После применения 3D-растяжки ботинки и туфли подстраиваются под особенности стоп. На результат влияет тип обуви, материал, из которого она сделана и соблюдение инструкции по эксплуатации. Кожаная обувь легче поддается формовке, чем обувь из други материалов. Применение специального спрея и нагревание обуви улучшают эффект.
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          2. Сколько времени занимает процесс растяжки обуви Bootfitter?
        </div>
        <div class="faq__toggle">
          <p>
            В среднем, кожаная обувь приобретает индивидуальные особенности  стопы через 6 часов. Формовка обуви из искусственных материалов занимает 6 часов и более.
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          3. Не испорчу ли я обувь, используя Bootfitter?
        </div>
        <div class="faq__toggle">
          <p>
            Нет, не испортите, при условии соблюдения правил эксплуатации. Не рекомендуются растягивать сухую (без специального спрея) и/или грязную обувь. Не рекомендуется сразу раскручивать устройство на максимум. Запрещается использовать устройство в обуви, которая заведомо на несколько размеров меньше вашей стопы.
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          4. Нужно ли использовать дополнительные средства для растяжки обуви?
        </div>
        <div class="faq__toggle">
          <p>
            Чтобы добиться максимального эффекта, рекомендуется использовать спрей для растяжки натуральных материалов. Он размягчает обувь, делает процесс формовки легче и защищает материал от повреждений. Так же помогает краткосрочное нагревание обуви (5-6 минут при температуре до 70С - обеспечивается домашним феном на самом горячем режиме на расстоянии 20 см от обуви). Процедура является необходимой для обуви из искусственных материалов.
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          5. Bootfitter подходит для растяжки обуви на каблуке?
        </div>
        <div class="faq__toggle">
          <p>
            Пока данная модель Bootfitter предназначена для обуви с высотой каблука до 40 мм. Скоро появится Bootfitter предназначенный исключительно для обуви на каблуке от 40 до 120 мм.
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          6. Не сломается ли Bootfitter при растяжке обуви?
        </div>
        <div class="faq__toggle">
          <p>
            Нет. Bootfitter изготовлен из высокопрочного пластика и стальных деталей, и выдерживает нагрузку до 50 кг на 1 кв.см. Bootfitter прошел испытания на прочность в специальной лаборатории и сертифицирован. Срок эксплуатации составляет 10 лет, что равно формовке 200 пар обуви. И мы даем 2-летнюю гарантию на продукт.
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          7. Можно ли им использовать Bootfitter для растяжки зимней обуви и в т.ч. сапогов?
        </div>
        <div class="faq__toggle">
          <p>
            Да, можно, если модель обуви позволяет вставить Bootfitter внутрь. Текущая модель устройства растягивает обувь с каблуком до 40 мм.
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          8. Не испортит ли Bootfitter мою новую обувь, если у меня сильный дефект пальцев?
        </div>
        <div class="faq__toggle">
          <p>
            Bootfitter в точности повторяет анатомию вашей ступни. Он не испортит обувь сильнее, чем сделает это ваша собственная ступня. С течением времени деформация ботинка все равно произойдет, только на это уйдет больше времени и усилий.
          </p>
        </div>
      </div>
      <div class="faq__wrapper">
        <div class="faq__head">
          9. Я ношу только ортопедическую обувь. Смогу ли я носить модельную обувь, если буду использовать Bootfitter?
        </div>
        <div class="faq__toggle">
          <p>
            Только ортопед может сказать, можно ли носить обычную обувь вместо ортопедической. Мы лишь можем сделать процесс носки обуви, вне зависимости от того обычная она или ортопедическая, комфортнее и приятнее.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
