<section class="first-screen">
  <div class="container first-screen__container">
    <img src="img/first-screen-bg.png" alt="">
    <div class="first-screen__content">
      <h1>
        BootFitter
      </h1>
      <h2>
        Индивидуальная растяжка обуви с применением 3D-сканирования
      </h2>
      <ul>
        <li>
          Полностью повторяет
          <strong>анатомию стопы</strong>
        </li>
        <li>
          Не повреждает обувь
          <strong>
            100% безопасно
          </strong>
          для всех типов обуви
        </li>
        <li>
          Растяжка любой обуви <strong>за 6 часов</strong>
        </li>
      </ul>
    </div>
  </div>
</section>
