<footer class="footer">
  <div class="container">
    <div class="row d-flex align-items-lg-end">
      <div class="col-lg-4 col-xl-3">
        <a href="#" class="logo">
          <img src="img/logo-white.svg" alt="">
        </a>
        <div class="footer__description">
          Технологичный способ растяжки обуви
        </div>
      </div>
      <div class="col-lg-8 col-xl-7">
        <div class="footer__nav">
          <ul class="menu">
            <li>
              <a href="#problem">
                <span>Проблемы</span>
              </a>
            </li>
            <li>
              <a href="#advantages">
                <span>Продукты</span>
              </a>
            </li>
            <li>
              <a href="#">
              <span>
                Как работаем
              </span>
              </a>
            </li>
            <li>
              <a href="#">
              <span>
                Технологии
              </span>
              </a>
            </li>
            <li>
              <a href="#">
              <span>
                Что решает
              </span>
              </a>
            </li>
            <li>
              <a href="#">
              <span>
                О нас
              </span>
              </a>
            </li>
            <li>
              <a href="#">
              <span>
                Наши статьи
              </span>
              </a>
            </li>
            <li>
              <a href="#">
              <span>
                Вопросы и ответы
              </span>
              </a>
            </li>
            <li>
              <a href="#">
              <span>
                Контакты
              </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2">
        <div class="footer__copyright">
          © BOOTFITTER, 2018
        </div>
      </div>
    </div>
  </div>
</footer>
