<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__top-line">
        <a href="index.html" class="logo">
          <img src="img/logo.svg" alt="">
        </a>
        <div class="button-nav">
          <div class="button-bar"></div>
        </div>
      </div>
      <div class="header__bottom-line">
        <div class="filter-wrapper nav">
          <ul class="nav-bar-filter menu" id="nav-bar-filter">
            <li>
              <a href="#problem">
                <span>Проблемы</span>
              </a>
            </li>
            <li>
              <a href="#advantages">
                <span>Продукты</span>
              </a>
            </li>
            <li>
              <a href="#how-we-work">
              <span>
                Как работаем
              </span>
              </a>
            </li>
            <li>
              <a href="#technologies">
              <span>
                Технологии
              </span>
              </a>
            </li>
            <li>
              <a href="#what-solves">
              <span>
                Что решает
              </span>
              </a>
            </li>
            <li>
              <a href="#about">
              <span>
                О нас
              </span>
              </a>
            </li>
            <li>
              <a href="#faq">
              <span>
                Вопросы и ответы
              </span>
              </a>
            </li>
            <li>
              <a href="#contacts">
              <span>
                Контакты
              </span>
              </a>
            </li>
          </ul>
          <ul id="more-nav">
            <li>
              <a href="#" class="button-more">
                <span class="bar"></span>
              </a>
              <ul class="subfilter">
              </ul>
            </li>
          </ul>
        </div>
        <a href="#" class="button-header modal_open">
        <span>
          Узнать подробнее
        </span>
        </a>
      </div>
    </div>
  </div>
</header>




