<section class="how-we-work" id="how-we-work">
  <div class="container">
    <h2 class="title title-big">
      6 ШАГОВ К КОМФОРТУ
    </h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="how-we-work__card">
          <div class="how-we-work__img">
            <img src="img/fingerprint.svg" alt="">
          </div>
          <div class="how-we-work__text">
            <strong>
              шаг 1
            </strong>
            <h3>
              Сканирование <br>
              стопы
            </h3>
            <p>
              С помощью 3D-сканера <br>
              поочередно сканируем стопы
            </p>
            <span>
              01
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="how-we-work__card">
          <div class="how-we-work__img">
            <img src="img/printer.svg" alt="">
          </div>
          <div class="how-we-work__text">
            <strong>
              шаг 2
            </strong>
            <h3>
              Печать <br>
              3D-растяжки
            </h3>
            <p>
              Печатаем Bootfitter из <br>
              высокопрочного пластика <br>
              на основе трехмерной <br>
              модели стопы
            </p>
            <span>
              02
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="how-we-work__card">
          <div class="how-we-work__img">
            <img src="img/running-shoes.svg" alt="">
          </div>
          <div class="how-we-work__text">
            <strong>
              шаг 3
            </strong>
            <h3>
              Доставка
            </h3>
            <p>
              Привозим персональный <br>
              Bootfitter к вам домой
            </p>
            <span>
              03
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="how-we-work__card">
          <div class="how-we-work__img">
            <img src="img/fingerprint.svg" alt="">
          </div>
          <div class="how-we-work__text">
            <strong>
              шаг 4
            </strong>
            <h3>
              Начало работы <br>
              с 3D-растяжкой
            </h3>
            <p>
              Вы вставляете Bootfitter в обувь. Мы рекомендуем предварительно обработать ботинки спреем для растяжки или влажной тряпочкой
            </p>
            <span>
              04
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="how-we-work__card">
          <div class="how-we-work__img">
            <img src="img/printer.svg" alt="">
          </div>
          <div class="how-we-work__text">
            <strong>
              шаг 5
            </strong>
            <h3>
              Регулировка
            </h3>
            <p>
              Вы регулируете Bootfitter для достижения необходимого уровня растяжки. Встроенный механизм позволяет плавно регулировать степень формовки
            </p>
            <span>
              05
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="how-we-work__card">
          <div class="how-we-work__img">
            <img src="img/running-shoes.svg" alt="">
          </div>
          <div class="how-we-work__text">
            <strong>
              шаг 6
            </strong>
            <h3>
              Наслаждение <br>
              исключительным комфортом
            </h3>
            <p>
              Через 12 часов <br> любая обувь учитывает мельчайшие особенности стопы
            </p>
            <span>
              06
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
