<div id="modal"  class="modal">
  <form action="" class="form">
    <h2>
      Узнать подробнее
    </h2>
    <div class="form-label">
      <input type="text" name="name" placeholder="Введите Ваше имя" required>
    </div>
    <div class="form-label">
      <input type="tel" name="tel" placeholder="Введите Ваш телефон" required>
    </div>
    <button class="button-header">
      <span>
      Отправить
      </span>
    </button>
  </form>
</div>
<div id="thanks" class="modal">
  <h3>
    В ближайшее время с Вами свяжется персональный менеджер и ответит на интересующие вопросы
  </h3>
</div>
