<section class="problem-slider" id="problem">
  <div class="container">
    <h2 class="title">
      Вам нужен Bootfitter, если
    </h2>
    <div class="problem-slider-container swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-3.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Ни одна пара обуви, кроме сшитой на заказ, не садится идеально по ноге. <br>
              Вынуждены обращаться в обувные мастерские - это существенно дороже нежели покупка в магазине, а результат не всегда гарантирован…
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/img-2.png" alt="">
            </div>
            <div class="problem-slider__text">
              Вы не можете покупать обувь в интернете без примерки
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-1.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              При выборе ограничиваетесь единственной маркой. <br>
              Комфорт – главный критерий при выборе обуви и вполне естественно, что когда после длительных поисков находится подходящая пара, именно на этой марке и останавливается дальнейший выбор
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/image2.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Перед началом сезона приходится заново разнашивать обувь
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/slide-2.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Вы ощущаете дискомфорт из-за ортопедической стельки <br>
              Внутреннее пространство обуви после того как вставлена стелька уменьшается и обувь становится тесной
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/image5.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Ваши стопы разной длины или полноты <br>
              Более чем у половины людей стопы разной длины или полноты. Эта распространенная ситуация когда, на примерке правой стопе тесно, левая комфортно, а с размером побольше правой- комфортно, левая – «болтается».
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/image4.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Проблемные стопы с повышенной чувствительностью или шишками, очень широкая стопа, отечная стопа и т.п.
              <br>
              Как следствие, большие сложности поиском подходящей пары, дискомфорт и боль при ношении, ощущение тяжести и преждевременное появление чувства усталости в течение дня
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-5.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Дискомфорт и неудобство в спортивной обуви – горнолыжные ботинки, трекинговая обувь, коньки, кроссовки и др.
              <br>
              Любое отклонение геометрии внутренней поверхности спортивной обуви от геометрии стопы ведет к нарушению кровообращения, и в дальнейшем - к дискомфорту и боли. А это то моментальное ощущение несвободы и мук, которое приводит к заниженным результатам у спортсменов или к отказу от этого вида спорта у новичков
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next">вперед</div>
      <div class="swiper-button-prev">назад</div>
    </div>
  </div>
</section>
