<section class="technologies" id="technologies">
  <div class="container">
    <h2 class="title title-big">
      ПРЕИМУЩЕСТВА СОВРЕМЕННЫХ 3D-ТЕХНОЛОГИЙ
    </h2>
    <div class="technologies__wrapper">

      <div class="technologies__card">
        <div class="technologies__card_wrapper">
          <div class="technologies__card__img">
            {{mixins.icon('tech-1')}}
          </div>
          <p>
            Специализированный <br>
            3D-сканер для медиков-ортопедов
          </p>
        </div>
      </div>
      <div class="technologies__card">
        <div class="technologies__card_wrapper">
          <div class="technologies__card__img">
            {{mixins.icon('tech-2')}}
          </div>
          <p>
            Плавное изменение геометрии для регулировки степени растяжки

          </p>
        </div>
      </div>
      <div class="technologies__card">
        <div class="technologies__card_wrapper">
          <div class="technologies__card__img">
            {{mixins.icon('tech-3')}}
          </div>
          <p>
            Экологически чистый и высокопрочный пластик


          </p>
        </div>
      </div>
      <div class="technologies__card">
        <div class="technologies__card_wrapper">
          <div class="technologies__card__img">
            {{mixins.icon('tech-4')}}
          </div>
          <p>
            Небольшой вес и простота использования
          </p>
        </div>
      </div>
      <div class="technologies__card">
        <div class="technologies__card_wrapper">
          <div class="technologies__card__img">
            {{mixins.icon('tech-5')}}
          </div>
          <p>
            Запатентованный стальной раздвижной механизм

          </p>
        </div>
      </div>
      <div class="technologies__card">
        <div class="technologies__card_wrapper">
          <div class="technologies__card__img">
            {{mixins.icon('tech-6')}}
          </div>
          <p>
            Бережное отношение к обуви
          </p>
        </div>
      </div>
      <div class="technologies__wrapper_img">

      </div>
    </div>
  </div>
</section>
