<section class="what-solves" id="what-solves">
  <div class="container">
    <h2 class="title title-big">
      Что решает
    </h2>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="what-solves__card">
          <div class="what-solves__card_img">
            <img src="img/checked.svg" alt="">
          </div>
          <h3>
            расширяет выбор обуви: больше не нужно искать “свою” колодку
          </h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="what-solves__card">
          <div class="what-solves__card_img">
            <img src="img/checked.svg" alt="">
          </div>

          <h3>
            создает идеальный комфорт для стопы в любом типе обуви
          </h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="what-solves__card">
          <div class="what-solves__card_img">
            <img src="img/checked.svg" alt="">
          </div>
          <h3>
            снижает нагрузку на стопу

          </h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="what-solves__card">
          <div class="what-solves__card_img">
            <img src="img/checked.svg" alt="">
          </div>
          <h3>
            предотвращает образование мозолей и натоптышей

          </h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="what-solves__card">
          <div class="what-solves__card_img">
            <img src="img/checked.svg" alt="">
          </div>
          <h3>
            позволяет использовать специальные стельки без дискомфорта
          </h3>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="what-solves__card">
          <div class="what-solves__card_img">
            <img src="img/checked.svg" alt="">
          </div>
          <h3>
            кастомизирует спортивную обувь
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
