<section class="first-screen first-screen-template" style="background-image: url('img/ortopedia-bg.jpg')">
  <div class="container first-screen__container">
    <div class="first-screen__content">
      <h1>
        BootFitter
      </h1>
      <h2>
        Теперь любая обувь станет ортопедической
      </h2>
      <ul>
        <li>
          Позволяют вам носить
          ту обувь, которая
          <strong>действительно нравится</strong>
        </li>
        <li>
          Гипоаллергенные
          <strong>
            материалы
          </strong>
        </li>
        <li>
          Подходит
          <strong>для всех типов</strong>
          ботинок/ туфель/ сапог
        </li>
      </ul>
    </div>
  </div>
</section>
