<section class="problem-slider">
  <div class="container">
    <h2 class="title">
      Проблемы с которыми сталкивается каждый 5 человек при носке обуви
    </h2>
    <div class="problem-slider-container swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-6.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Из-за особенностей стоп не могут позволить себе купить обувь тех дизайнеров, которые нравятся
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-7.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Не могут позволить купить себе обувь в интернете с минимальной примеркой
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-8.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Ортопедическая обувь некрасивая, под нее нужно подбирать какой-то стиль особый
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-6.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Из-за особенностей стоп не могут позволить себе купить обувь тех дизайнеров, которые нравятся
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-7.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Не могут позволить купить себе обувь в интернете с минимальной примеркой
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-8.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Ортопедическая обувь некрасивая, под нее нужно подбирать какой-то стиль особый
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-6.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Из-за особенностей стоп не могут позволить себе купить обувь тех дизайнеров, которые нравятся
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-7.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Не могут позволить купить себе обувь в интернете с минимальной примеркой
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-8.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Ортопедическая обувь некрасивая, под нее нужно подбирать какой-то стиль особый
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next">вперед</div>
      <div class="swiper-button-prev">назад</div>
    </div>
  </div>
</section>
