<section class="reviews">
  <div class="container">
    <h2 class="title">
      Проблемы с которыми сталкивается каждый 5 человек при носке обуви
    </h2>
    <div class="reviews-container swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews__card">
            <div class="reviews__user">
              <div class="reviews__user_img">
                <img src="img/review-2.jpg" alt="">
              </div>
              <div class="reviews__user_info">
                <time datetime="2019-01-04">
                  04.01.2019
                </time>
                <h3>
                  Юрий Башмак
                </h3>
                <p>
                  Лыжник
                </p>
              </div>
            </div>
            <div class="reviews__text">
              <h4>
                Спасибо что избавили
                от боли
              </h4>
              <div class="reviews__text_content">
                <p>
                  Часто катаюсь на горных лыжах и никак до этого не мог подобрать себе хорошие ботинки. Всегда что-то жало и натирало. Думал, что это неизбежная проблема и остаётся только терпеть, но тут случайно увидел рекламу Бутфитера. Теперь не знаю, как раньше жил. Вставил его в ботинок и на следующий день уже катался, ни о чем не думая.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__card">
            <div class="reviews__user">
              <div class="reviews__user_img">
                <img src="img/review-1.jpg" alt="">
              </div>
              <div class="reviews__user_info">
                <time datetime="2018-12-22">
                  22.12.2018
                </time>
                <h3>
                  Валерия макарова
                </h3>
                <p>
                  дизайнер
                </p>
              </div>
            </div>
            <div class="reviews__text">
              <h4>
                  Это полный восторг!
              </h4>
              <div class="reviews__text_content">
                <p>
                  Ребята, спасибо вам за мою новую пластиковую ногу)) Она за ночь разнашивает новые туфли, и никаких мозолей! Уже прогнала всю обувь через него и безумно довольна!
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__card">
            <div class="reviews__user">
              <div class="reviews__user_img">
                <img src="img/review-3.jpg" alt="">
              </div>
              <div class="reviews__user_info">
                <time datetime="2018-01-11">
                  01.11.2018
                </time>
                <h3>
                  Антонина
                </h3>
                <p>
                  домохазяйка
                </p>
              </div>
            </div>
            <div class="reviews__text">
              <h4>
                Рекомендую
              </h4>
              <div class="reviews__text_content">
                <p>
                  Рекомендую бутфитер для тех, у кого одна стопа чуть длиннее другой. Больше не нужно покупать ботинки на размер больше и покупать стельки. И ура, я наконец-то смогу купить босоножки с открытым мыском!                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next">вперед</div>
      <div class="swiper-button-prev">назад</div>
    </div>
  </div>
</section>
