<section class="first-screen first-screen-template" style="background-image: url('img/sport-bg.jpg')">
  <div class="container first-screen__container">
    <div class="first-screen__content">
      <h1>
        BootFitter
      </h1>
      <h2>
        Детали позволяют достичь экстраординарных результатов.
        С Bootfitter вы сможете тренироваться <br>
        сколько угодно долго, ведь обувь больше нигде не давит.
      </h2>
      <ul>
        <li>
          Полностью повторяет
          <strong>анатомию стопы</strong>
        </li>
        <li>
          <strong>
            Без страха
          </strong> повреждения
          ноги из-за неправильных
          ботинок
        </li>
        <li>
          Можно применять
            <strong>для всех типов</strong>
          ботинок и кроссовок
        </li>
      </ul>
    </div>
  </div>
</section>
