<section class="main-form" style="background-image: url('img/sport-bg-form.jpg')">
  <div class="container">
    <div class="main-form__wrapper">
      <h2 class="title title-left title-big title-white">
        Запишитесь на диагностику и 3д-сканирование ваших ступней прямо сейчас
      </h2>
      <form class="form form-main">
        <div class="form-label">
          <input type="text"  name="name" placeholder="Введите Ваше имя" required>
        </div>
        <div class="form-label">
          <input type="tel" name="tel" placeholder="Введите Ваш телефон" required>
        </div>
        <button class="button button-form">
          Записаться
        </button>
      </form>
    </div>
  </div>
</section>
