<section class="problem-slider">
  <div class="container">
    <h2 class="title">
      ПРОБЛЕМЫ С КОТОРЫМИ СТАЛКИВАЕТСЯ КАЖДЫЙ 5 ЧЕЛОВЕК ПРИ НОСКЕ ОБУВИ
    </h2>
    <div class="problem-slider-container swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/problem-slide-3.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Ни одна пара обуви, кроме сшитой на заказ, не садится по ноге
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/img-2.png" alt="">
            </div>
            <div class="problem-slider__text">
              При выборе ограничиваетесь единственной маркой
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/image5.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Стопы разной длинны или полноты
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/image-1.png" alt="">
            </div>
            <div class="problem-slider__text">
              Беспокоит дискомфорт при длительных тренировках
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/image-2.png" alt="">
            </div>
            <div class="problem-slider__text">
              Сложно подобрать ботинок из-за нестандартной стопы
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/image-3.png" alt="">
            </div>
            <div class="problem-slider__text">
              Затекает и немеет стопа в жестком ботинке
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/image-4.png" alt="">
            </div>
            <div class="problem-slider__text">
              Когда важен идеальный комфорт
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="problem-slider__card">
            <div class="problem-slider__img">
              <img src="img/image4.jpg" alt="">
            </div>
            <div class="problem-slider__text">
              Проблемные стопы с повышенной чувствительностью или шишками, очень широкая стопа, отечная стопа и т.п.
            </div>
            <div class="problem-slider__button-more">
            </div>
          </div>
        </div>

      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Arrows -->
      <div class="swiper-button-next">вперед</div>
      <div class="swiper-button-prev">назад</div>
    </div>
  </div>
</section>
