.icon-tech-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tech-2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tech-3 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tech-4 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tech-5 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tech-6 {
  width: 1em;
  height: 1em;
  fill: initial;
}
