.about
	padding: 100px 0
	background: $wild-sand
	+r(767)
		padding: 50px 0
	+r(565)
		padding: 40px 0
	&__content
		padding-top: 40px
		+r(1199)
			padding-top: 0
		+r(991)
			margin-bottom: 30px
	&__text
		max-width: 515px
		padding-left: 20px
		padding-right: 15px
		position: relative
		max-height: 245px
		z-index: 3
		+r(991)
			max-width: none
		&::before
			content: ''
			width: 2px
			height: 120px
			background: $vermilion
			position: absolute
			left: 0
		p
			margin-top: 0
			font-size: 16px
			line-height: 1.5em
			color: $shark
			margin-bottom:  15px
			&:last-of-type
				margin-bottom: 0
	img
		width: 100%
		max-width: 570px
		height: 100%
		max-height: 360px
		object-fit: cover
		+r(1199)
			max-height: 320px
		+r(575)
			max-height: 260px
		+r(420)
			max-height: 200px
	&__gallery
		position: relative
		overflow: hidden
		margin-left: -30px
		+r(991)
			margin-left: 0
		.swiper-container
			overflow: visible
			margin-left: 30px
			margin-right: -30px
			+r(991)
				margin-left: 0
				margin-right: 0
		.about-swiper-container
			padding-bottom: 30px
		&__wrapper
			position: relative
			width: 100%
			z-index: 2
			&::before
				content: ''
				width: 270px
				height: 586px
				background: url('../img/gallery-after.png') no-repeat center
				position: absolute
				right: -100px
				top: -100px
				+r(767)
					top: auto
					bottom: -50px
					z-index: -1
				+r(575)
					content: none
		.swiper-slide
			+r(991)
				display: flex
				align-items: center
				justify-content: center
		.swiper-button-next, .swiper-button-prev
			top: auto
			bottom: 0
			width: 50px
			height: 60px
			display: inline-block
			font-family: $title-font
			font-weight: 700
			font-size: 14px
			text-transform: uppercase
			background: $white
			color: $manatee
			transition: all .3s ease
			&:hover
				color: $vermilion
		.swiper-button-prev
			left: -30px
			+r(991)
				left: 0
			&::before
				content: ''
				position: absolute
				width: 7px
				height: 10px
				background: url('../img/arrow-prev.svg')
				left: calc(50% - 3.5px)
				top: calc(50% - 5px)
				transition: all .3s ease
			&:hover
				&::before
					background-image: url('../img/arrow-prev-hover.svg')
		.swiper-button-next
			left: 20px
			+r(991)
				left: 50px
			&::after
				content: ''
				position: absolute
				width: 7px
				height: 10px
				background-image: url('../img/arrow-next.svg')
				right: calc(50% - 3.5px)
				top: calc(50% - 5px)
				transition: all .3s ease
			&:hover
				&::after
					background-image: url('../img/arrow-next-hover.svg')
