.advantages
	padding: 50px 0 100px
	+r(767)
		padding: 50px 0 25px
	+r(575)
		padding: 40px 0 15px
	&__card
		position: relative
		margin-top: 290px
		max-width: 370px
		width: 100%
		height: auto
		background: $white
		cursor: pointer
		padding: 150px 30px 40px
		transition: all .6s ease
		text-align: center
		display: flex
		flex-direction: column
		+r(1199)
			max-width: 300px
			padding: 120px 15px 30px
			margin-top: 240px
		+r(991)
			height: auto
			margin-top: 210px
		&:hover
			box-shadow: 0 15px 30px 0 rgba(36, 37, 38, 0.1)
			.advantages__card_img
				&::before
					box-shadow: 0 10px 30px 0 rgba(255, 56, 0, 0.3)
					transition: all .6s ease
				&::after
					height: 250px
			li
				&::before
					width: 0
				&::after
					width: 25px
			.button
				color: $white
				&::before
					height: 100%
				&::after
					border: none
		&:active, &:focus
			.button
				&::after
					box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1)

		&_wrapper
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			+r(991)
				justify-content: space-around
		&_img
			position: absolute
			text-align: center
			top: -220px
			z-index: 2
			+r(1199)
				left: 0
			img
				width: 100%
				max-width: 298px
				max-height: 334px
				height: auto
				object-fit: contain
				position: relative

			&::before
				content: ''
				width: 150px
				height: 250px
				background: $mercury
				position: absolute
				left: calc(50% - 75px)
				bottom: 15px
				z-index: -1
				transition: all .6s ease
			&::after
				content: ''
				width: 150px
				height: 0
				left: calc(50% - 75px)
				bottom: 15px
				z-index: -1
				background: linear-gradient( to top, rgb(255,56,0) 0%, rgb(255,85,0) 100%)
				position: absolute
				transition: all .6s ease

		h3
			position: relative
			font-family: $title-font
			font-weight: 700
			font-size: 24px
			color: $shark
			text-align: left
			+r(1199)
				font-size: 22px
		ul
			text-align: left
			margin-bottom: 30px
			li
				padding-left: 40px
				margin-bottom: 15px
				font-weight: 500
				font-size: 16px
				color: $shark
				position: relative
				line-height: 1.5em
				+r(1199)
					padding-left: 35px
					font-size: 14px
				&::before
					content: ''
					width: 25px
					height: 5px
					background: $loblolly
					position: absolute
					left: 0
					top: 15px
					transition: all .5s ease
				&::after
					content: ''
					width: 0
					height: 5px
					background: $vermilion
					position: absolute
					left: 0
					top: 15px
					transition: all .3s ease
	.button
		margin-top: auto

