.articles
	padding: 100px 0 50px
	text-align: center
	+r(767)
		padding: 50px 0
	+r(575)
		padding: 40px 0
	&__card
		transition: all .3s ease
		width: 100%
		max-width: 370px
		height: 400px
		display: flex
		flex-direction: column
		cursor: pointer
		text-align: left
		margin-bottom: 30px
		+r(1199)
			max-width: 290px
		+r(991)
			max-width: 320px
		&_wrapper
			display: flex
			flex-wrap: wrap
			margin-bottom: 30px
			+r(991)
				justify-content: space-around
			+r(575)
				margin-bottom: 30px
		&:not(:nth-of-type(3n+3))
			margin-right: 30px
			+r(991)
				margin-right: 0
		&:hover
			box-shadow: 0 10px 25px 0 rgba(36, 37, 38, 0.1)
			.articles__card_text
				border-color: transparent
				h3
					opacity: 0
				time
					opacity: 1
				h4
					color: $vermilion
		&_img
			img
				display: block
				width: 100%
				max-width: 370px
				height: 220px
				object-fit: cover
		&_text
			border: 1px solid $mercury
			border-top: transparent
			width: 100%
			height: 180px
			display: flex
			flex-direction: column
			padding: 40px 30px 20px
			transition: all .3s ease
			position: relative
			h3, h4
				margin: 0
			h3
				font-family: $title-font
				font-weight: 800
				font-size: 14px
				text-transform: uppercase
				color: $vermilion
				margin-bottom: 15px
				opacity: 1
				transition: all .3s ease
			time
				display: block
				position: absolute
				opacity: 0
				font-family: $title-font
				font-weight: 700
				font-size: 14px
				text-transform: uppercase
				color: $silver
				margin-bottom: 15px
				transition: all .3s ease
			h4
				max-height: 75px
				overflow: hidden
				font-family: $title-font
				font-weight: 700
				line-height: 1.2em
				font-size: 20px
				text-transform: uppercase
				color: $shark
				transition: all .3s ease
				+r(575)
					font-size: 16px
