#map
	width: 100%
	height: 100%
	top: 0
	position: absolute
	z-index: -1
	+r(991)
		position: relative
		height: 300px
.contacts
	height: calc( 100% + 40px)
	position: relative
	padding: 20px 0
	+r(991)
		padding: 0
	&__card
		background: $vermilion
		position: relative
		height: 100%
		margin-left: auto
		width: 370px
		padding: 55px 35px 65px 45px
		z-index: 2
		+r(991)
			width: 100%
			background: $white
			padding: 40px 30px
		+r(767)
			padding: 30px 20px
		+r(575)
			padding: 30px 15px 20px
		&::before
			content: ''
			width: 100%
			height: 100%
			position: absolute
			right: 5px
			bottom: 5px
			z-index: -1
			background: $white
			+r(991)
				content: none
		&::after
			content: ''
			width: 99px
			height: 100px
			position: absolute
			right: 30px
			bottom: 30px
			background: url('../img/pin.svg')

		.title
			margin-bottom: 30px
		h3, p
			margin: 0
		h3
			font-family: $title-font
			font-weight: 800
			font-size: 14px
			text-transform: uppercase
			color: $vermilion
			line-height: 1em
			margin-bottom: 20px
			+r(575)
				margin-bottom: 15px
		p
			margin-bottom: 40px
			font-size: 18px
			line-height: 1.5em
			color: $shark
			+r(575)
				font-size: 16px
				margin-bottom: 20px
			a
				color: $shark
				display: inline-block
				position: relative
				transition: all .4s ease
				z-index: 2
				&::before
					content: ''
					width: calc( 100% + 10px)
					height: 0
					background: $vermilion
					position: absolute
					bottom: 0
					left: -5px
					transition: all .5s ease
					z-index: -2
				&::after
					content: ''
					width: calc( 100% + 10px)
					height: 0
					background: $shark
					position: absolute
					bottom: 0
					left: -5px
					transition: all 1s ease
					z-index: -1
				&:hover
					color: $white
					&::before
						height: 100%
					&::after
						height: 95%
			&:last-of-type
				margin-bottom: 0
