.faq
	padding: 50px 0 100px
	+r(767)
		padding: 50px 0
	+r(575)
		padding: 40px 0
	&__accordion
		margin-bottom: 30px
		padding: 0 150px
		+r(1199)
			padding: 0 100px
		+r(991)
			padding: 0
	&__wrapper
		position: relative
		width: 100%
	&__head
		width: 100%
		display: flex
		align-items: center
		background: $white
		padding: 15px 60px 15px 15px
		position: relative
		font-size: 20px
		font-family: $title-font
		font-weight: 700
		color: $shark
		line-height: 1em
		cursor: pointer
		border-bottom: 1px solid $mercury
		+r(575)
			font-size: 18px
			padding-right: 45px
		&::after
			position: absolute
			content: url('../img/arrow-faq-down.svg')
			top: 50%
			right: 0
			width: 34px
			height: 34px
			transform: translateY(-50%)
			transition: all .3s ease
		&.active
			color: $vermilion
			&::after
				content: url('../img/arrow-faq-up.svg')
	&__toggle
		display: none
		width: 100%
		background: $white
		padding: 15px 15px 15px 45px
		font-family: $default-font
		font-weight: 400
		font-size: 16px
		color: $shark
		line-height: 1.5em
		border-bottom: 1px solid $mercury
		+r(575)
			font-size: 14px
		p
			margin: 0 0 10px
			&:last-child
				margin-bottom: 0
		&.active
			display: block
