.first-screen
	padding: 150px 0 120px
	background: $wild-sand center no-repeat
	background-size: cover
	+r(767)
		padding: 125px 0 120px
		background-position: -1100px 0
	+r(575)
		padding: 70px 0 160px
		background-position: -800px 0
	+r(400)
		background-position: -870px 0
	&__container
		position: relative
	img
		position: absolute
		display: block
		left: 670px
		width: 560px
		height: auto
		+r(1199)
			left: 470px
		+r(991)
			left: 400px
			width: 400px
			top: 50px
		+r(767)
			left: 200px
			width: 360px
			top: 180px
		+r(575)
			width: 350px
			top: 160px
		+r(530)
			left: 160px
		+r(480)
			left: 120px
		+r(430)
			left: 80px
		+r(400)
			left: 0
	h1, h2, ul
		max-width: 670px
		margin: 0
		+r(1199)
			max-width: 500px
	h1
		position: relative
		font-family: $title-font
		font-weight: 700
		font-size: 100px
		line-height: 1em
		text-transform: uppercase
		margin: 0 0 20px 5px
		padding: 100px 0 0
		color: $shark
		+r(1199)
			font-size: 80px
		+r(991)
			padding-top: 20px
		+r(575)
			font-size: 50px
	h2
		font-family: $default-font
		font-weight: 400
		font-size: 30px
		color: $abbey
		line-height: 1em
		margin-bottom: 130px
		+r(1199)
			font-size: 23px
		+r(991)
			margin-bottom: 90px
			color: black
		+r(575)
			font-size: 16px
			margin-bottom: 50px
	ul
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		+r(1199)
			max-width: 570px
		+r(991)
			max-width: 500px
		+r(767)
			flex-direction: column
		li
			display: inline-block
			max-width: 190px
			padding-left: 30px
			text-align: left
			position: relative
			font-size: 16px
			+r(1199)
				margin-bottom: 30px
				text-align: left
			+r(575)
				font-size: 14px
			&:last-of-type
				margin-bottom: 0
			&::before, &::after
				content: ''
				position: absolute
				top: 0
			&::before
				left: 0
				width: 16px
				height: 16px
				border: 3px solid $vermilion
				background: $white
				box-shadow: 0 1px 15px 0 rgba(255, 57, 0,.3)
			&::after
				left: 6px
				width: 4px
				height: 4px
				background: $vermilion
				top: 6px
			&:first-of-type
				margin-left: 0
			&:last-of-type
				margin-right: 0
	&-template
		+r(575)
			padding: 70px 0 40px
		h2
			max-width: 830px
			+r(1199)
				max-width: 650px
