.footer
	background: $shark
	padding: 40px 0
	+r(767)
		text-align: center
	&__description
		margin-top: 15px
		font-weight: 300
		color: $bombay
		+r(1199)
			margin-bottom: 10px
		+r(767)
			margin-top: 0
	.logo
		+r(767)
			img
				margin: 0 auto
	&__nav
		padding-left: 60px
		+r(1199)
			padding-left: 0
		+r(991)
			margin-bottom: 10px
		.menu
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			+r(575)
				justify-content: space-around
			li
				width: 100%
				max-width: 200px
				+r(1199)
					max-width: 170px
				+r(575)
					max-width: none
			a
				display: inline-block
				line-height: 1em
				font-weight: 500
				color: $white
				padding: 8px 0
				position: relative
				z-index: 2
				&::before
					content: ''
					width: calc( 100% + 10px)
					height: 0
					background: $vermilion
					position: absolute
					bottom: 0
					left: -5px
					transition: all .5s ease
					z-index: -2
				&:hover
					&::before
						height: 100%
	&__copyright
		font-weight: 300
		color: $bombay
		text-transform: uppercase
