.header
	position: fixed
	left: 0
	right: 0
	top: 0
	padding: 20px 0
	background: $white
	transition: all .3s ease
	z-index: 1000
	+r(991)
		padding: 0
	&.scroll
		box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1)
		padding: 5px 0
		+r(991)
			padding: 0
			box-shadow: none
	&__wrapper
		display: flex
		justify-content: flex-start
		align-items: flex-start
		position: relative
		+r(991)
			flex-direction: column
			align-items: center
	&__top-line
		display: flex
		+r(991)
			background: $white
			z-index: 1000
			width: 100vw
			justify-content: space-around
			box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1)
			padding: 10px 0
			align-items: center
	&__bottom-line
		display: flex
		margin-left: auto
		+r(991)
			display: block
			text-align: center
			overflow: auto
			margin: 0
			position: absolute
			width: 100vw
			height: 100vh
			background: $white
			z-index: 900
			top: 0
			padding: 65px 0
			transform: translateY(-100%)
			transition: all .6s ease
			&.active
				transform: translateY(0)

	.button
		&-nav
			display: none
			position: relative
			+r(991)
				display: block
				background: transparent
				width: 30px
				height: 30px
		&-bar
			width: 30px
			height: 4px
			background: $vermilion
			position: absolute
			top: calc(50% - 2px)
			border-radius: 2px
			left: calc(50% - 15px)
			transition: all .4s ease
			&::before, &::after
				content: ''
				width: 30px
				height: 4px
				background: $vermilion
				position: absolute
				left: calc(50% - 15px)
				border-radius: 2px
			&::before
				transform: translateY(-8px)
				animation: button-nav-top-bar-remove .4s 1 ease forwards
			&::after
				transform: translateY(8px)
				animation: button-nav-bottom-bar-remove .4s 1 ease forwards
			&.active
				background: transparent
				&::before
					animation: button-nav-top-bar .4s 1 ease forwards
				&::after
					animation: button-nav-bottom-bar .4s 1 ease forwards
			@keyframes button-nav-top-bar
				0%
					transform: translateY(-8px)
				50%
					transform: translateY(0)
				100%
					transform: rotate(45deg)
			@keyframes button-nav-bottom-bar
				0%
					transform: translateY(8px)
				50%
					transform: translateY(0)
				100%
					transform: rotate(-45deg)
			@keyframes button-nav-top-bar-remove
				0%
					transform: rotate(45deg)
				50%
					transform: translateY(0)
				100%
					transform: translateY(-8px)
			@keyframes button-nav-bottom-bar-remove
				0%
					transform: rotate(-45deg)
				50%
					transform: translateY(0)
				100%
					transform: translateY(8px)
	.button-more
		padding: 16px 13px
		display: flex
		font-family: $default-font
		font-weight: 800
		color: $vermilion
		line-height: 1em
		position: relative
		transition: all ease .3s
		width: 46px
		height: 46px
		+r(991)
			display: none
		.bar
			display: block
			position: absolute
			width: 3px
			height: 3px
			top: 50%
			background: $vermilion
			left: 50%
			transform: translateX(-50%) translateY(-50%)
			transition: all .3s ease
			&::before, &::after
				content: ''
				width: 3px
				height: 3px
				position: absolute
				background: $vermilion
				transition: all .3s ease
			&::before
				left: -6px
			&::after
				left: 6px
		&:hover
			background: $shark
			.bar
				background: $vermilion
				&::before, &::after
					background: $vermilion
		&.active
			background: $shark
			.bar
				height: 20px
				background: transparent
				&::before
					height: 20px
					transform: rotate(45deg)
					background: $white
					left: 0
				&::after
					height: 20px
					transform: rotate(-45deg)
					left: 0
					background: $white
			&:hover
				.bar
					&::before, &::after
						background: $vermilion
	.nav
		display: flex
		align-items: flex-start
		margin-left: auto
		+r(991)
			width: 100%
			margin-bottom: 20px
			padding-top: 20px
		.menu
			overflow: hidden
			white-space: nowrap
			max-width: 640px
			+r(1199)
				max-width: 320px
			+r(991)
				display: flex
				flex-direction: column
				white-space: normal
			&.active
				max-height: none
			li
				display: inline-block
				position: relative
				+r(991)
					display: block
				&:active, &:focus
					&::before
						width: 100%
						height:  100%
						top: 0
						left: 0
						bottom: 0
						right: 0
				a
					padding: 16px 13px
					display: block
					font-family: $default-font
					font-weight: 500
					line-height: 1em
					background: transparent
					position: relative
					transition: all .4s ease
					white-space: nowrap
					font-size: 18px
					span
						color: $shark
						position: relative
						transition: all .6s ease
					&::before
						content: ''
						width: 100%
						height: 0
						background: $shark
						position: absolute
						left: 0
						bottom: 0
						transition: all .6s ease
					&::after
						content: ''
						width: 100%
						height: 100%
						position: absolute
						left: 0
						top: 0
						background: transparent
						transition: all .4s ease
					&:hover
						span
							color: $white
						&::before
							height: 95%
						&::after
							height: 5%
							background: $vermilion



	#more-nav
		display: none
		vertical-align: top
		padding-left: 0
		margin-right: 35px
		+r(991)
			margin-right: 0
			width: 100%
			text-align: center
		li
			a
				font-size: 16px
	.subfilter
		padding-left: 0
		display: none
		position: absolute
		background: $white
		box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.1)
		transition: all .3s ease
		+r(991)
			display: block
			position: relative
			box-shadow: none
		li
			z-index: 10
			display: block
		a
			padding: 10px 13px
			display: block
			font-family: $default-font
			font-weight: 500
			line-height: 1em
			background: transparent
			position: relative
			transition: all .4s ease
			white-space: nowrap
			span
				color: $shark
				position: relative
				transition: all .6s ease
			&::before
				content: ''
				width: 100%
				height: 0
				background: $shark
				position: absolute
				left: 0
				bottom: 0
				transition: all .6s ease
			&::after
				content: ''
				width: 100%
				height: 100%
				position: absolute
				left: 0
				top: 0
				background: transparent
				transition: all .4s ease
			&:hover
				span
					color: $white
				&::before
					height: 95%
				&::after
					height: 5%
					background: $vermilion
	a
		text-decoration: none
		color: inherit
	#nav-bar-filter, #more-nav
		display: inline-block
	#more-nav:hover .subfilter
		display: block

.logo
	display: flex
	align-items: center

	img
		display: block
		width: 198px
		height: auto
.button-header
	display: inline-block
	font-family: $default-font
	font-weight: 600
	font-size: 14px
	line-height: 1em
	text-transform: uppercase
	background-image: linear-gradient( 0, rgb(255,56,0) 0%, rgb(255,85,0) 100%)
	box-shadow: 0 5px 15px 0 rgba(255, 56, 0, 0.4)
	cursor: pointer
	transition: all .4s ease
	position: relative
	text-align: center
	border: 0
	span
		display: block
		padding: 17px 45px
		position: relative
		color: $white
		+r(767)
			padding: 16px 18px
	&::before
		content: ''
		width: 100%
		height: 0
		background: $shark
		position: absolute
		left: 0
		bottom: 0
		transition: all .4s ease
	&:hover
		box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4)
		&::before
			height: 95%
	&:active, &:focus
		box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4)
		transform: translateY(1px)
		&::before
			width: 100%
			height:  100%
			top: 0
			left: 0
			bottom: 0
			right: 0
