.how-we-work
	padding:  100px 0
	background-color: $wild-sand
	+r(767)
		padding: 50px 0
	+r(575)
		padding: 40px 0
	&__card
		display: flex
		height: 100%
		&:hover
			span
				color: $shark
			.how-we-work__img
				&::before
					height: 95%
	&__img
		width: 70px
		height: 100px
		background-image: linear-gradient( to top, rgb(255,56,0) 0%, rgb(255,85,0) 100%)
		display: flex
		justify-content: center
		align-items: center
		margin-right: 30px
		position: relative
		z-index: 2
		&::before
			content: ''
			width: 100%
			height: 0
			bottom: 0
			position: absolute
			background: $shark
			z-index: -1
			transition: all .5s ease
		img
			width: 50px
			height: 50px
	&__text
		padding-top: 10px
		position: relative
		width: 75%
		z-index: 2
		+r(1199)
			br
				display: none
		strong
			display: block
			text-transform: uppercase
			font-family: $title-font
			font-size: 16px
			color: $shark
			margin-bottom: 15px
			font-weight: 800
			line-height: 1em
		h3
			margin-top: 0
			text-transform: uppercase
			font-family: $title-font
			font-size: 24px
			color: $shark
			line-height: 1.3em
			font-weight: 700
		p
			line-height: 1.5em
			font-size: 18px
			color: $shark
			margin: 0 0 30px
			+r(767)
				font-size: 16px
			+r(575)
				font-size: 14px
		span
			position: absolute
			right: 0
			bottom: 30px
			font-family: $title-font
			font-weight: 700
			font-size: 100px
			color: $alto
			z-index: -1
			opacity: 0.5
			transition: all .3s ease

