.main-form
	padding:  150px 0
	background: url('../img/main-form-bg.jpg') no-repeat left top
	background-size: cover
	+r(991)
		padding:  100px 0
	+r(767)
		padding: 50px 0
	+r(575)
		padding:  40px 0
	&__wrapper
		max-width: 800px
	.form
		display: flex
		align-items: center
		flex-wrap: wrap
		+r(991)
			justify-content: space-around
		&-label
			margin-right: 10px
			position: relative
			+r(991)
				margin-right: 0
				margin-bottom: 15px
		input
			padding: 21px 25px
			font-weight: 600
			font-size: 14px
			color: $white
			border: 1px solid $white
			background: transparent
			width: 250px
			font-family: $default-font
			border-radius: 0
			line-height: 1em
			box-shadow: none
			outline: none
			-webkit-appearance: none
			-moz-appearance: none
			&::placeholder
				font-weight: 600
				font-size: 14px
				color: $white
				font-family: $default-font
