.modal
	margin-top: 5%
	margin-bottom: 5%
	transform: scale(0.8)
	position: relative
	outline: none
	max-width: 350px
	width: 100%
	text-align: center
	.form
		background: $white
		padding: 50px 30px 25px
		display: flex
		flex-direction: column
		align-items: center
		h2
			font-family: $title-font
			text-transform: uppercase
			font-size: 24px
			margin-bottom: 30px
		&-label
			position: relative
			margin-bottom: 25px
			width: 100%
			text-align: left
			&:last-of-type
				margin-bottom: 35px
			input
				width: 100%
				padding: 11px 25px
				font-weight: 600
				font-size: 14px
				color: $shark
				border: 1px solid $shark
				background: transparent
				font-family: $default-font
				border-radius: 0
				line-height: 1em
				box-shadow: none
				outline: none
				-webkit-appearance: none
				-moz-appearance: none
				&::placeholder
					font-weight: 600
					font-size: 14px
					color: $shark
					font-family: $default-font
.popup_close
	display: inline-block
	font-family: $default-font
	font-weight: 600
	font-size: 16px
	line-height: 1em
	text-transform: uppercase
	background-image: linear-gradient( 0, rgb(255,56,0) 0%, rgb(255,85,0) 100%)
	box-shadow: 0 5px 15px 0 rgba(255, 56, 0, 0.4)
	cursor: pointer
	transition: all .4s ease
	text-align: center
	border: 0
	padding: 0
	width: 26px
	position: absolute
	right: 5px
	top: 5px
	span
		display: block
		padding: 5px
		position: relative
		color: $white
	&::before
		content: ''
		width: 100%
		height: 0
		background: $shark
		position: absolute
		left: 0
		bottom: 0
		transition: all .4s ease
	&:hover
		box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4)
		&::before
			height: 95%
	&:active, &:focus
		box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4)
		transform: translateY(1px)
		&::before
			width: 100%
			height:  100%
			top: 0
			left: 0
			bottom: 0
			right: 0
#thanks
	background: $white
	padding: 35px 25px 25px
	display: flex
	flex-direction: column
	align-items: center
	text-transform: uppercase
	h3
		font-family: $title-font
		text-align: center
.popup_visible
	.modal
		transform: scale(1)
label.error
	position: absolute
	top: -22px
	left: 0
	width:  100%
	color: $vermilion
	font-size: 14px
	text-align: center
	font-weight: 500

