.problem-slider
	padding: 100px 0 50px
	+r(767)
		padding: 50px 0 25px
	+r(575)
		padding: 40px 0 25px
	&-container
		position: relative
		padding-bottom: 70px
		+r(767)
			padding-bottom: 50px
	&__img
		position: relative
		&::before
			content: ''
			width: 100%
			height: 100%
			position: absolute
			background: linear-gradient( to top, rgba(48, 49, 51, 1)0%, rgba(0,0,0,0)70%)
		img
			display: block
			width: 100%
			max-width: 370px
			height: 450px
			object-fit: cover
	&__text
		font-weight: 500
		font-size: 18px
		color: $white
		position: absolute
		top: 0
		left: 30px
		right: 0
		padding-right: 15px
		bottom: 0
		transform: translateY(300px)
		line-height: 1.5em
		max-height: 85px
		height: 100%
		z-index: 1
		transition: all .8s ease
		&.active
			max-height: 350px
			transform: translateY(30px)
	.swiper-slide
		display: flex
		justify-content: center
	&__card
		position: relative
		max-width: 370px
		+r(575)
			height: 450px
		&.active
			&::before
				height: 99%
			&::after
				height: 1%
				background: $vermilion
		&::before
			content: ''
			width: 100%
			height: 0
			background: $shark
			position: absolute
			left: 0
			bottom: 0
			transition: all .6s ease
			z-index: 1
		&::after
			content: ''
			width: 100%
			height: 100%
			position: absolute
			left: 0
			top: 0
			background: transparent
			transition: all .4s ease

	&__button-more
		position: absolute
		right: 20px
		bottom: 20px
		width: 40px
		height:  40px
		background-image: linear-gradient( to top, rgb(255,56,0) 0%, rgb(255,85,0) 100%)
		box-shadow: 0px 5px 15px 0px rgba(255, 56, 0, 0.4)
		cursor: pointer
		z-index: 1
		&::before, &::after
			content: ''
			width: 16px
			height: 4px
			background: $white
			position: absolute
			top: calc(50% - 2px)
			left: calc(50% - 8px)
			transition: all .3s ease
		&::after
			transform: rotate(90deg)
		&.active
			&::before
				transform: rotate(-45deg)
			&::after
				transform: rotate(45deg)
	.swiper-pagination
		bottom: 10px
		font-family: $title-font
		font-weight: 700
		font-size: 16px
		color: $manatee
		text-transform: uppercase
		span
			font-size: 24px
	.swiper-button-next, .swiper-button-prev
		top: auto
		bottom: 10px
		background-image: none
		width: auto
		height: auto
		display: inline-block
		font-family: $title-font
		font-weight: 700
		font-size: 14px
		text-transform: uppercase
		color: $manatee
		transition: all .3s ease
		&:hover
			color: $vermilion
	.swiper-button-prev
		right: 56%
		left: auto
		padding-left: 20px
		+r(767)
			right: 65%
		&::before
			content: ''
			position: absolute
			width: 7px
			height: 10px
			background-image: url('../img/arrow-prev.svg')
			left: 0
			top: calc(50% - 5px)
			transition: all .3s ease
		&:hover
			&::before
				background-image: url('../img/arrow-prev-hover.svg')
	.swiper-button-next
		left: 56%
		right: auto
		padding-right: 20px
		+r(767)
			left: 65%
		&::after
			content: ''
			position: absolute
			width: 7px
			height: 10px
			background-image: url('../img/arrow-next.svg')
			right: 0
			top: calc(50% - 5px)
			transition: all .3s ease
		&:hover
			&::after
				background-image: url('../img/arrow-next-hover.svg')
