.reviews
	padding: 100px 0 50px
	+r(767)
		padding: 50px 0 25px
	+r(575)
		padding: 40px 0 25px
	&-container
		position: relative
		padding-bottom: 70px
		+r(767)
			padding-bottom: 50px
	.swiper-slide
		display: flex
		justify-content: center
	&__card
		position: relative
		width: 100%
		z-index: 2
		padding: 30px
		cursor: pointer
		+r(991)
			padding: 20px
		+r(575)
			width: 80%
			padding: 20px 15px
		&::before
			content: ''
			width: calc( 100% - 2px)
			height: 100%
			z-index: -1
			position: absolute
			left: 0
			top: 0
			border: 1px solid $mercury
			transition: all .3s ease
		&:hover
			box-shadow: 0 10px 25px 0 rgba(36, 37, 38, 0.1)
			&::before
				border: 1px solid transparent
			.read-more
				color: $vermilion
	&__user
		display: flex
		margin-bottom: 30px
		+r(575)
			flex-direction: column
			margin-bottom: 10px
		&_img
			width: 130px
			margin-right: 30px
			+r(991)
				margin-right: 20px
			+r(767)
				margin-right: 10px
			+r(575)
				margin-bottom: 10px
				width: 100%
			img
				display: block
				width: 130px
				height: 130px
				object-fit: cover
				+r(575)
					margin: 0 auto
		&_info
			width: 70%
			display: flex
			flex-direction: column
			+r(575)
				width: 100%
			time
				font-family: $title-font
				font-weight: 700
				font-size: 14px
				text-transform: uppercase
				color: $silver
				margin-left: auto
			h3, p
				margin: 0
				text-transform: uppercase
				font-family: $title-font
				font-weight: 700
			h3
				margin-top: auto
				font-size: 16px
				color: $shark
			p
				color: $silver
				margin-bottom: 10px
	&__text
		position: relative
		h4
			margin: 0
		&_content
			margin: 0
		h4
			font-family: $title-font
			font-weight: 700
			font-size: 20px
			line-height: 1.2em
			color: $vermilion
			margin-bottom: 15px
			max-height: 50px
			overflow: hidden
		&_content
			font-weight: 300
			color: $shark
			overflow: hidden
			margin-bottom: 10px
			max-height: 115px
			padding-right: 15px
	.swiper-pagination
		bottom: 10px
		font-family: $title-font
		font-weight: 700
		font-size: 16px
		color: $manatee
		text-transform: uppercase
		span
			font-size: 24px
	.swiper-button-next, .swiper-button-prev
		top: auto
		bottom: 10px
		background-image: none
		width: auto
		height: auto
		display: inline-block
		font-family: $title-font
		font-weight: 700
		font-size: 14px
		text-transform: uppercase
		color: $manatee
		transition: all .3s ease
		&:hover
			color: $vermilion
	.swiper-button-prev
		right: 56%
		left: auto
		padding-left: 20px
		+r(767)
			right: 65%
		&::before
			content: ''
			position: absolute
			width: 7px
			height: 10px
			background-image: url('../img/arrow-prev.svg')
			left: 0
			top: calc(50% - 5px)
			transition: all .3s ease
		&:hover
			&::before
				background-image: url('../img/arrow-prev-hover.svg')
	.swiper-button-next
		left: 56%
		right: auto
		padding-right: 20px
		+r(767)
			left: 65%
		&::after
			content: ''
			position: absolute
			width: 7px
			height: 10px
			background-image: url('../img/arrow-next.svg')
			right: 0
			top: calc(50% - 5px)
			transition: all .3s ease
		&:hover
			&::after
				background-image: url('../img/arrow-next-hover.svg')

