.technologies
	padding: 100px 0 0
	+r(767)
		padding: 50px 0
	+r(575)
		padding: 40px 0
	.title
		margin-bottom: 0
		+r(991)
			margin-bottom: 30px
	&__wrapper
		display: flex
		flex-wrap: wrap
		position: relative
		padding: 70px 0 120px
		+r(991)
			flex-direction: column
			padding: 0
		&_img
			position: absolute
			background: url('../img/techno.png') no-repeat center top
			width: 100%
			height: 100%
			top: -70px
			+r(991)
				background-position: right center
			+r(767)
				display: none
	&__card
		width: 50%
		display: flex
		margin-bottom: 30px
		cursor: pointer
		height: 100%
		position: relative
		+r(767)
			width: 100%
			margin-bottom: 15px
		p
			margin: 0
			font-size: 18px
			line-height: 1.3em
			color: $shark

		&:hover
			&::before, &::after
				transform: scale(1.4)
			&::before
				border: 3px solid $vermilion
				box-shadow: 0 1px 15px 0 rgba(255, 57, 0,.3)
			&::after
				background: $vermilion
		&:nth-of-type(even)
			justify-content: flex-end
			+r(991)
				justify-content: flex-start
		.icon
			width: 60px
			height: 60px
			margin-right:  15px
			fill: $gray
			transition: all .3s ease
		//&::before, &::after
		//	content: ''
		//	position: absolute
		//	top: 0
		//	z-index: 10
		//	transition: all .3s ease
		//	+r(991)
		//		display: none
		&:hover
			.technologies__card_wrapper
				box-shadow: 0 10px 25px 0 rgba(36, 37, 38, 0.1)
				//&::before
				//	border: none
				//	border-color: $mercury
				.icon
					fill: $vermilion
		//&::before
		//	width: 16px
		//	height: 16px
		//	border: 3px solid $gray
		//	background: $white
		//&::after
		//	width: 4px
		//	height: 4px
		//	background: $gray
		//&:nth-of-type(1)
		//	&::before
		//		top: 50px
		//		right:  -130px
		//	&::after
		//		top: 56px
		//		right:  -124px
		//&:nth-of-type(2)
		//	&::before
		//		top: 150px
		//		left: 110px
		//	&::after
		//		top: 156px
		//		left: 116px
		//&:nth-of-type(3)
		//	&::before
		//		top: 80px
		//		right:  -130px
		//	&::after
		//		top: 86px
		//		right:  -124px
		//&:nth-of-type(4)
		//	&::before
		//		top: 150px
		//		left: 110px
		//	&::after
		//		top: 156px
		//		left: 116px
		//&:nth-of-type(5)
		//	&::before
		//		top: 30px
		//		right:  100px
		//	&::after
		//		top: 36px
		//		right:  106px
		//&:nth-of-type(6)
		//	&::before
		//		top: 40px
		//		left: 30px
		//	&::after
		//		top: 46px
		//		left: 36px
		&_wrapper
			display: flex
			width: 100%
			max-width: 330px
			padding: 28px
			position: relative
			align-items: center
			z-index: 2
			transition: all .3s ease
			background: $white
			+r(767)
				max-width: none
				padding: 15px
				br
					display: none

			&::before
				content: ''
				width: 100%
				height: 100%
				position: absolute
				z-index: -1
				left: 0
				top: 0
				border: 1px solid $mercury
				transition: all .3s ease
			&:hover
				box-shadow: 0 10px 25px 0 rgba(36, 37, 38, 0.1)
				&::before
					border: none
					border-color: $mercury
				.icon
					fill: $vermilion
