.what-solves
	padding: 50px 0 60px
	+r(767)
		padding: 50px 0 10px
	+r(575)
		padding: 40px 0
	&__card
		display: flex
		position: relative
		align-items: flex-start
		margin-bottom: 50px
		+r(991)
			margin-bottom: 30px
			br
				display: none
		+r(767)
			align-items: center
		+r(575)
			margin-bottom: 15px
		&:hover
			.what-solves__card_img
				&::before
					height: 95%
		&_img
			width: 70px
			height: 100px
			background-image: linear-gradient( to top, rgb(255,56,0) 0%, rgb(255,85,0) 100%)
			display: flex
			justify-content: center
			align-items: center
			margin-right: 30px
			position: relative
			z-index: 2
			+r(575)
				margin-right: 10px
			img
				width: 40px
				height: 40px
			&::before
				content: ''
				width: 100%
				height: 0
				bottom: 0
				position: absolute
				background: $shark
				z-index: -1
				transition: all .5s ease
		h3
			max-width: 70%
			height: 100%
			display: flex
			margin: 0
			text-transform: uppercase
			font-family: $title-font
			font-weight: 700
			font-size: 24px
			line-height: 1.25em
			color: $shark
			+r(991)
				font-size: 22px
			+r(767)
				font-size:  20px
			+r(575)
				font-size:  16px
